<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <%- include ('../partials/header.ejs') %>
    <section class="section">
      <div class="container">
        <h2 class="title is-1 has-text-centered">Contact Us</h2>
        <div class="columns is-tablet">
          <div class="column">
            <h4 class="title">Address:</h4>
            <address>
              <strong>Studio Sketch7</strong><br>
              1234 Lane Not Real<br>
              12345, Dallas<br>
              <i class="fas fa-fw fa-phone"></i> <a href="tel:+1234567890">
              (123) 456-7890</a><br>
              <i class="fas fa-fw fa-envelope"></i> <a href="mailto:info@domain.com"></a>
            </address>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <%- include ('../partials/footer.ejs') %>
    </footer>
  </body>
</html>
