<div class="container">
  <div class="columns is-mobile is-multiline">
    <div class="column is-half-mobile is-one-quarter-desktop">
      <h6 class="title is-5">Links</h6>
      <ul>
      <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Team</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
    </div>
    <div class="column is-half-mobile is-one-quarter-desktop">
      <h6 class="title is-5">Information</h6>
      <ul>
        <li><a href="/">Legal Information</a></li>
        <li><a href="/">Job Opportunitiues</a></li>
        <li><a href="/">FAQ</a></li>
      </ul>
    </div>
    <div class="column is-half-mobile is-one-quarter-desktop">
      <h6 class="title is-5">Follow Us</h6>
      <ul>
        <li><a href="#"><i class="fab fa-fw fa-facebook"></i>Facebook</a></li>
        <li><a href="#"><i class="fab fa-fw fa-instagram"></i>Instagram</a></li>
        <li><a href="#"><i class="fab fa-fw fa-twitter"></i>Twitter</a></li>
        <li><a href="#"><i class="fab fa-fw fa-youtube"></i>YoutTube</a></li>
        <li><a href="#"><i class="fab fa-fw fa-linkedin"></i>LinkedIn</a></li>
      </ul>
    </div>
    <div class="column is-half-mobile is-one-quarter-desktop">
      <h6 class="title is-5">Our Location</h6>
        <address>
          <strong>Company Name</strong><br />
          Street Name<br />
          Zip Code and City<br />
          <i class="fas fa-fw fa-phone"></i><a href="tel:1234567890">(123) 456-7890</a>
          <i class="fas fa-fw fa-envelope"></i><a href="mailto:infor@domain">info@domain.com</a>
        </address>
    </div>
  </div>
  <p class="has-text-centered">&copy: 2020 Company Name. All rights reserved.</p>
</div>
