<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs')%>
  </head>
  <body>
    <%- include ('../partials/header.ejs') %>
    <div class="container has-text-left">
      <form class="control" action="/listings" method="POST">
        <label class="label" for="title">Title:</label>
        <input class="input" type="text" name="title"><br>
        <label class="label" for="price">Price:</label>
        <input class="input" type="number" name="price"><br>
        <label class="label" for="image">Image Url:</label>
        <input class="input" type="text" name="image"><br>
        <label class="label" for="description">Listing Description:</label>
        <textarea class="textarea" name="description" rows="8" cols="80"></textarea><br>
        <button class="button is-primary" type="submit" name="button">Create Listing</button>
  </body>
</html>
