<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Listing</title>
  </head>
  <body>
    <h1>New Shop Listing</h1>
    <form action="/listings" method="POST">
      Title: <br><input type="text" name="title"><br>
      Price: <br><input type="number" name="price"><br>
      Image Url: <br><input type="text" name="image"><br>
      Listing Description: <br><textarea name="description" rows="8" cols="80"></textarea><br>
      <input type="submit" value="Create Listing">
    </form>
  </body>
</html>
