<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs')%>
  </head>
  <body>
    <h1>Listing Show Page</h1>
    <h2><%=listing.title%></h2>
    <img src="<%=listing.image%>" alt="">
    <p><%=listing.description%></p>
    <p><%listing.price%></p>
    <a href="/">Back to main</a>
  </body>
</html>
