<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <%- include ('../partials/header.ejs') %>
    <section class="section">
      <div class="container">
        <h2 class="title is-1 has-text-centered">About Studio Sketch7</h2>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <h2 class="title is-1 has-text-centered">The Workshop</h2>
        <div class="columns">
          <div class="column">
            <figure class="image">
              <img src="/images/class.jpg" alt="">
              <figcaption>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="is-italic">Photo from royalty free site</p>
              </figcaption>
            </figure>
          </div>
          <div class="column">
            <figure class="image">
              <img src="/images/class.jpg" alt="">
              <figcaption>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="is-italic">Photo from royalty free site</p>
              </figcaption>
            </figure>
          </div>
        </div>
        <h2 class="is-1 has-text-centered">What Classes we offer</h2>
        <div class="columns is-mobile is-multiline">
          <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
            <figure class="image is-4by3">
              <img src="/images/class1.jpg" alt="">
            </figure>
          </div>
          <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
            <figure class="image is-4by3">
              <img src="/images/class2.jpg" alt="">
            </figure>
          </div>
          <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
            <figure class="image is-4by3">
              <img src="/images/class3.jpg" alt="">
            </figure>
          </div>
          <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
            <figure class="image is-4by3">
              <img src="/images/class4.jpg" alt="">
            </figure>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <%- include ('../partials/footer.ejs') %>
    </footer>
  </body>
</html>
